:root {
    --primary-text-color: #2E2F42;
    --second-text-color: #434455;
    --white-color: #ffffff;
    --grey-color: #F4F4FD;
    --iris-color: #4D5AE5;
    --hover-focus-color: #404BBF;
    --cornflower-color: #E7E9FC;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--white-color);
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 2px solid cyan;
}

.header {
    border-bottom: 1px solid var(--cornflower-color);
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    margin-right: auto;
}

.list {
    list-style: none;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    color: var(--primary-text-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.blue-logo {
    color: var(--iris-color);
}

.nav-list {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-list:hover,
.nav-list:focus,
.nav-list.current {
    color: var(--hover-focus-color);
}

.contact-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--hover-focus-color);
}

.hero {
    text-align: center;
    background: var(--primary-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-inner {
    max-width: 496px;
    margin: 0 auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 48px;
}

.hero-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hover-focus-color);
}

.about{
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
    text-align: center;
    margin-bottom: 72px;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.about-list,
.works-list,
.team-list,
.filters-list {
    display: flex;
    gap: 24px;
}

.about-item,
.team-photo {
    width: calc((100% - 24px * 3) / 4);
}

.works {
    padding-bottom: 120px;
}

.works-photo {
    width: calc((100% - 24px * 2) / 3);
}

.team {
    background-color: var(--grey-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-photo {
    background-color: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-item {
    padding: 32px 16px;
    text-align: center;
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding: 12px 24px;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background: var(--grey-color);
    border: 1px solid var(--cornflower-color);
    border-radius: 4px;
}

.filters-button:hover,
.filters-button:focus,
.filters-button.current {
    color: var(--white-color);
    background-color: var(--hover-focus-color);
}

.filters-list {
    justify-content: center;
    margin-bottom: 72px;
}

.cards-link {
    text-decoration: none;
}

.cards-project {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.cards-list {
    width: calc((100% - 24px * 2) / 3);
}

.cards-item {
    padding: 32px 16px;
    border-bottom: 1px solid var(--cornflower-color);
    border-left: 1px solid var(--cornflower-color);
    border-right: 1px solid var(--cornflower-color);
}

.footer {
    background-color: var(--primary-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    color: var(--grey-color);
    text-decoration: none;
    margin-bottom: 16px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 265px;
    color: var(--cornflower-color);
}